* {
    margin: 0px;
    padding: 0px;
}
h1 {
    height: 42px;
    padding: 12px 0px 0px 200px;
}
#header {
    background: url("images/header.jpg") no-repeat;
    height: 80px;
}
#pogoda{
    float: left;
    width: 140px;
    padding: 0 0 0 10px;
}
#photo{
    float: right;
    width: 220px;
    padding: 0 0 0 10px;
}
#content{
    margin: 0 220px 0 150px;
}
#footer{
    background-color: #CCCCCC;
    padding: 5px 10px 5px 10px;
    clear: both;   
}
#footer p{
    text-align: center;  
}
p{
    text-align: justify;
    margin: 5px;
    text-indent: 20px;
}
img{
    margin: 2px 0 2px 0;
}
